@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
      @apply p-0;
      @apply m-0;
      @apply box-border;
    }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-oscuro-950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-oscuro-600
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navigation {
  animation: backdrop linear both;
  animation-timeline: scroll(root);
  animation-range: 20% 50%;
}

.nav-element {
  animation: backdrop-el linear both;
  animation-timeline: scroll(root);
  animation-range: 20% 50%;
}

@keyframes backdrop {
  to {
    @apply bg-oscuro-900;
  }
}

@keyframes backdrop-el {
  to {
    @apply bg-oscuro-950;
  }
}